.portfolio {
  text-align: center;
  margin: 3.125vw 0 7.292vw 0;
}

.videoPosts {
  padding-top: 3vw;
  display: grid;
  grid-template-columns: 26.5vw 26.5vw 26vw;
  grid-gap: 2vw;
}

@media (orientation: portrait) {
  .portfolio {
    margin: 4vw 0 4vw 0;
  }

  .videoPosts {
    display: flex;
    flex-direction: column;
    padding-top: 7vw;
  }
}
